:root {
  color-scheme: dark;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  background: #0b1221;
}

canvas {
  flex: 1;
  display: block;
}
